# Global ignores
.DS_Store
Thumbs.db
*.log
*.tmp

# Rust (Yew) specific
/target/
/dist/
*.rs.bk
**/*.rs.bk
*.lock

# Rust tools
.trunk/
trunk-build/

# Node.js / React specific
/node_modules/
/build/
/dist/
/.env
/.env.local
/.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE specific
.vscode/
.idea/
*.iml
*.suo
*.swp
*.sln
*.log
*.pid
*.seed
*.pid.lock